$dropdown-menu-border: 1px solid rgba(25, 31, 35, 0.15);
$dropdown-menu-box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15);
$dropdown-menu-width: 200px;
$dropdown-menu-item-height: 30px;

.dd-wrapper {
  position: relative;
  box-sizing: border-box;
  user-select: none;
  list-style: none;
}

.dd-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.dd-list {
  z-index: -1;
  position: absolute;
  background-color: $white;
  padding: 0;
}

.dd-list-item {
  width: 100%;
  cursor: default;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover {
    color: $white;
    background-color: $gray;
  }
}
