$mulberry: rgba(144, 12, 62, 0.6);

$white: #ffffff;
$orange: #f5a623;
$red-error: red;
$gray: #d1d5da;
$black: #000000;
$black-lighter: #24292e;
$gray-lighter: #4a4a4a;

$purple-flat: #4500d2;
$white-dim: #f2f2f2;
$white-dimmer: #8e8e8e;
// Color Scheme #1
$base-color: $black;
$dominant-color: $purple-flat;
$background: $white;
$sub-background: $white-dim;
$line-color: $white-dimmer;
$lend: #427ec9;
$give: #f65d20;

/* Brands */
$facebook-blue-gradient: linear-gradient(#5b7bd5, #4864b1) !important;
$facebook-blue-gradient-hover: linear-gradient(#4c69ba, #3b55a0) !important;
$facebook-text-shadow: 0 -1px 0 #354c8c;
