input {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 300px;
}

.suggestions {
  position: absolute;
  padding: 0;
  margin: 0;
  border-top-width: 0;
  list-style: none;
  overflow-y: auto;
  padding-left: 0;
  border-radius: 0px !important;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  width: 90%;
  height: autoauto;
  border: 1px solid $gray;
  border-top: none;

  @include media-breakpoint(sm) {
    width: 43%;
  }

  li {
    padding: 0.5rem;
    background-color: $white;
    color: $white;
    display: flex;
  }

  img {
    width: 35px;
    height: 100%;
    margin-right: 5px;
    align-items: flex-start;
  }

  .desc-wrapper {
    height: 100%;
    margin-top: 7px;
    font-size: 15px;
    width: 100%;
    overflow: hidden;
  }

  .desc-wrapper div {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 100%;
  }

  .desc-wrapper span {
    font-size: 12px;
  }

  .suggestion-active,
  li:hover {
    background-color: $white-dim;
    // color: $white;
    cursor: pointer;
    font-weight: 600;
  }

  li:not(:last-of-type) {
    border-bottom: 1px solid #999;
  }
}

.loading {
  padding: 0.5rem;
  height: 40px;
  background-color: $white;
  font-size: 15px;
  color: $black;
}

.suggestion-transition-enter {
  opacity: 0.01;

  &.suggestion-transition-enter-active {
    opacity: 1;
    transition: 200ms;
  }
}

.suggestion-transition-leave {
  opacity: 1;

  &.suggestion-transition-leave-active {
    opacity: 0.01;
    transition: 700ms;
  }
}

@keyframes blink {
  0% {
    opacity: 0.5;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.loading {
  span {
    animation-name: blink;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

    &:nth-child(2) {
      animation-delay: 0.2s;
    }
    &:nth-child(3) {
      animation-delay: 0.4s;
    }
    &:nth-child(4) {
      animation-delay: 0.6s;
    }
    &:nth-child(5) {
      animation-delay: 0.8s;
    }
  }
}
