.sign-in-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in-header {
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 20px;
    font-weight: 600;
    margin-right: 8px;
  }
}

.sign-in-body {
  .spacer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: $padding-xxs 0;
  }
}

.sign-in-sign-up {
  a {
    color: $orange;
  }
}

.sign-in-email-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 250px;

  .form-header {
    text-transform: uppercase;
    margin: 0;
    width: 100%;
  }

  input {
    width: 100%;
    background: none;
    border: 1px solid $gray;
    height: 35px;
    border-radius: 2px;
    padding: 0 $padding-sm;

    &:nth-of-type(1) {
      margin-bottom: $padding-xs;
    }
  }
}

.sign-in-facebook-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 250px;
}

.pw-forget-link {
  width: 100%;
  text-align: right;
  margin-bottom: $padding-xs;
}
