/*
  This page loader was inspired by: https://codepen.io/MattIn4D/pen/LiKFC.
  Code from this public CodePen was re-used under the MIT Licence.
*/

.loader {
  position: fixed;
  z-index: 2;
  height: 25px;
  width: 25px;
  overflow: visible;
  margin: auto;
  left: 50%;
  right: 50%;
  top: 0;
  bottom: 0;

  &:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 8px;
    height: 8px;
    animation: spinner 1000ms infinite linear;
    border-radius: 0.3em;
    box-shadow: rgba(0, 0, 0, 0.6) 1.5em 0 0 0,
      rgba(0, 0, 0, 0.6) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.6) 0 1.5em 0 0,
      rgba(0, 0, 0, 0.6) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.6) -1.5em 0 0 0,
      rgba(0, 0, 0, 0.6) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.6) 0 -1.5em 0 0,
      rgba(0, 0, 0, 0.6) 1.1em -1.1em 0 0;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  &.hide {
    display: none;
  }
}
