.pw-change {
  width: 100%;

  .auth-form {
    margin: 0;
    max-width: 100%;

    @include media-breakpoint(xs) {
      margin-left: 75px;
      max-width: 250px;
    }
  }

  .btn {
    margin-top: $padding-xs;
    min-width: 150px;
  }
}

.pw-success {
  margin-left: 30px;
  margin-right: 30px;
  color: $orange;
}
