@import 'variables';

html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
  // font-family: sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  margin: 0;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
  color: $black;
}

h2 {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.33;
  color: $black;
}

h3 {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.33;
  color: $black;
}

a {
  line-height: 1.5;
  color: $black;
  font-weight: 700;
}

p,
label {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: $black;
}

a {
  font-weight: 400;
  font-size: 14px;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.col {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.page-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: $navbar-height-mobile;
  position: relative;
  min-height: 100vh;

  @include media-breakpoint(xs) {
    max-width: $max-width-xs;
  }

  @include media-breakpoint(sm) {
    max-width: $max-width-sm;
    padding-top: $navbar-height;
  }

  @include media-breakpoint(md) {
    max-width: $max-width-md;
  }

  @include media-breakpoint(lg) {
    max-width: $max-width-lg;
  }
}
