@mixin button-bg($bg) {
  background: $bg;

  &:hover {
    background: darken($bg, 8%);
    transition: all 0.3s ease;
  }
  &:active,
  &:focus {
    background: darken($bg, 25%);
  }
}
.btn {
  color: $black;
  text-decoration: none;
  padding: $padding-xxs $padding-xs;
  font-size: 18px;
  font-weight: 500;
  border: 3px solid $black;
  cursor: pointer;
}
