.radio-styled {
  width: 300px;
  text-align: center;
  .radio-label {
    color: $content-text;
    font-size: 20px;
  }
  input:checked + label {
    color: $theme-dark-color;
    border-bottom: 3px solid $theme-dark-color;
  }
}
