.book-item-container {
  max-width: 250px;
  @include smaller-than(sm) {
    max-width: 100%;
  }
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 1px 1px 4px 0 #9b9b9b;
  border-radius: 10px;
  max-height: 400px;
  height: 350px;

  a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    height: 100%;
  }
}

.book-item-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 45px;
  text-align: center;

  .book-item-title {
    font-weight: 600;
    margin: 0 $padding-sm;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .book-item-author {
    margin: 0 $padding-sm;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.book-item-img {
  max-height: 175px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.book-item-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: $padding-xxs $padding-sm;
  flex: 1 0 auto;

  .book-item-inner-header {
    display: flex;
    justify-content: space-between;
  }

  .book-item-inner-footer {
    display: flex;
    justify-content: space-between;
  }
}

.book-item-description {
  margin: 3px 0;
  font-size: 10px;
}

.book-item-user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.book-item-user-avatar {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.book-item-username {
  font-size: 10px;
  flex: 1 0 auto;
  padding-left: $padding-xxs;
}

.book-item-distance {
  font-size: 10px;
  padding-left: 4px;
}
