.drop-box {
  background: blue;
  vertical-align: top;
  display: inline-block;
  width: 135px;
  height: 135px;
  border-radius: 5px;
  border: solid 3px rgba(155, 155, 155, 0.34);
  background-color: rgba(207, 206, 206, 0.15);
  margin: 5px 20px 5px 0px;
  text-align: center;
  position: relative;
  box-shadow: -1px 6px 10px 0px rgba(0, 0, 0, 0.07);
}

.drag-hover,
.drop-box:hover {
  border: dashed 3px rgba(112, 111, 111, 0.34) !important;
  background-color: rgba(158, 154, 154, 0.15) !important;
}

.drag-text {
  position: absolute;
  text-align: 'center';
  color: 'grey';
  font-size: 36;
  top: 20px;
  width: 100%;
  height: 100%;
  z-index: -1;
  padding: 10px;
}

.input {
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
