.btn-sign-out {
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  color: $white;
  background-color: transparent;
  border: 1px solid $white;
  border-radius: 2px;
  padding: 6px;

  @include media-breakpoint(sm) {
    font-size: 15px;
  }
}
