.avatar-container {
  flex: 1 0 40%;
  width: 200px;
  max-width: 200px;
  height: 200px;
  position: relative;
  margin: 0 auto;

  @include media-breakpoint(sm) {
    margin-left: 75px;
  }

  img {
    border-radius: 50%;
    width: 100%;
    align-items: center;
    object-fit: cover;
  }
}

.avatar {
  height: 100%;
}

.change-avatar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  bottom: 20%;
  left: 10%;
  padding: 5px;
  border-radius: 6px;
  width: 35%;
  background: $black-lighter;
  color: $white;
  display: flex;
  justify-content: center;
  border: none;

  &:hover {
    cursor: pointer;
    background: lighten($black, 8%);
    transition: all 0.3s ease;
  }

  &:active {
    background: lighten($black, 25%);
    transition: all 0.3s ease;
  }
}

.edit-avatar {
  .dd-header {
    background-color: $theme-light-color;
    background: $theme-dark-color;
    color: $white;
    position: absolute;
    padding: $padding-xxs $padding-xs;
    margin-top: -47px;
    margin-left: $padding-xxs;
    border-radius: 6px;

    svg {
      margin-right: $padding-xxs;
    }
  }

  .dd-list {
    margin-top: 0;
    width: 250px;
    background-clip: padding-box;
    border-radius: 2px;
    border: 1px solid rgba(25, 31, 35, 0.15);
    box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15);
    z-index: 10;
  }

  .dd-list-item {
    width: 100%;
    padding: 0 $padding-xs;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    label,
    button {
      cursor: pointer;
    }

    button {
      background: transparent;
      border: transparent;
      font-size: 14px;
    }
  }
}
