.user-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 5px 5px 0;
  // width: 150px;
  > img {
    margin-right: 5px;
    height: 24px;
    width: 24px;
    border-radius: 15px;
    // border: 1px solid $black-lighter;
  }
  > div {
    width: 75%;
    :last-child {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
    }
  }
  @include smaller-than(sm) {
    padding: 5px 5px 5px 0;
  }
}

.item-address {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  font-size: 15px;
  padding: 0 8px 0 8px;
  > span:first-child {
    max-width: 35%;
  }
  .separator {
    max-width: 30px;
    margin: 0 7px 0 7px;
  }
  > span:last-child {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60%;
  }
}
