.user-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 5px 5px 0;

  > img {
    margin-right: 5px;
    height: 24px;
    width: 24px;
    border-radius: 15px;
  }

  > div {
    :last-child {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
    }
  }

  @include smaller-than(sm) {
    padding: 5px 5px 5px 0;
  }
}
