$field-height: 40px;

.my-books-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-add-book {
  &.account {
    font-size: 30px;
    width: auto;
    position: relative;
    bottom: auto;
    right: auto;
    z-index: 1;
    height: $field-height;
    font-size: 17px;
    font-weight: bold;
    background: $theme-dark-color;
  }
}

.account-page {
  padding-bottom: $padding-lg;
  @include media-breakpoint(sm) {
    margin-top: 50px;
  }

  .no-results {
    font-size: 15px;
  }
}

.user-information {
  max-width: fit-content;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  margin: 25px auto 25px auto;

  @include media-breakpoint(sm) {
    max-width: fit-content;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 100px 20px 0px;
  }
}

.user-setting {
  margin: 25px auto 25px auto;
  @include media-breakpoint(sm) {
    margin: 25px 100px 50px 50px;
  }
}
.username-container {
  flex: 1 0 60%;
  display: flex;
  flex-direction: column;
  padding: $padding-xs;
}

.username {
  font-size: 20px;
  color: $content-text;
  font-weight: bold;
  padding-bottom: $padding-xxs;
  @include media-breakpoint(sm) {
    font-size: 30px;
    color: $content-text;
    font-weight: bold;
    padding-bottom: $padding-xxs;
  }
}

.user-info-container {
  display: flex;
  flex-direction: column;
  padding: $padding-sm;

  .info-item {
    margin-bottom: $padding-xxs;

    svg {
      margin-right: $padding-xxs;
      height: 18px;
      width: 18px;
    }
  }
}

.settings {
  list-style: none;
  margin: 0;

  @include media-breakpoint(xs) {
    margin: 25px auto 25px auto;
  }

  @include media-breakpoint(sm) {
    margin-left: 75px;
  }

  li {
    margin-bottom: $padding-xs;

    button {
      min-width: 200px;
    }
  }

  .account-header {
    margin-left: 500px;
  }
}

.line-break {
  border: solid 0.5px rgba(151, 151, 151, 0.2);
}
.line-break-sm {
  border: solid 0.5px rgba(151, 151, 151, 0.2);
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  @include media-breakpoint(sm) {
    border: solid 0.5px rgba(151, 151, 151, 0.2);
    width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
}
.sub-header-account {
  font-size: $padding-xs;
  color: var(--greyish-brown);
  font-weight: bold;
  margin-bottom: $padding-xs;
  @include media-breakpoint(sm) {
    margin-left: 75px;
    font-size: $padding-xs;
    color: var(--greyish-brown);
    font-weight: bold;
  }
}

.edit-profile {
  color: $orange;
}

.edit-profile-page {
  height: 100%;
  @include media-breakpoint(sm) {
    margin-left: 50px;
    margin-top: 50px;
    height: 100%;
  }
}

.field-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap row;
  align-items: flex-start;
  margin-bottom: $padding-xxs;
  margin-top: $padding-xxs;

  @include media-breakpoint(xs) {
    flex-direction: row;
    align-items: center;
  }

  @include media-breakpoint(sm) {
    width: 150%;
    flex-wrap: wrap row;
  }

  .field-label {
    display: flex;
    flex-direction: row;
    flex-basis: 30%;
    margin-bottom: $padding-xxs;
  }

  .field-input {
    display: flex;
    flex-direction: row;
    flex-basis: 70%;
    border: none;
    padding: 0px 8px;
    margin: 5px;
    width: 100%;
    height: $field-height;
    min-height: $field-height;
    border-radius: 6px;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.08s ease-in, color 0.08s ease-in;

    &:focus,
    &:active {
      z-index: 2;
      outline: none;
      box-shadow: $box-shadow;
    }
  }
}

.avatar-center {
  margin: 0;
}
