.subtitle {
  width: 63px;
  height: 21px;
  font-family: LucidaGrande;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--greyish-brown);
}

.image-box {
  vertical-align: top;
  display: inline-block;
  width: 150px;
  height: 135px;
  border-radius: 5px;
  border: solid 3px rgba(155, 155, 155, 0.34);
  background-color: rgba(207, 206, 206, 0.15);
  margin: 5px 20px 5px 0px;
  text-align: center;
}
