.add-book{
  margin-top: $padding-xs;
  width: 100%;
  display: flex; 
  margin-left: auto;
  margin-right:auto;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-right: $padding-xs;
  padding-left: $padding-xs;
}

.add-book-container{
  flex-basis: 100%;
  margin-top: $padding-sm;
  float: left;
  margin-left: auto;
  margin-right: auto;
 

  @include media-breakpoint(sm) {
    flex-basis: 50%;
    float: left;
    margin-left: auto;
    margin-right: auto;
  }

}
.type-book-container{
  margin-top: $padding-sm;
  flex-basis: 100%;
  float: left;
  text-align: left;

  @include media-breakpoint(sm) {
    flex-basis: 50%;
    float: left;
    margin-left: auto;
    margin-right: auto;
  }
}

.subtitle {
  width: 63px;
  height: 21px;
  font-size: 18px;
  color: var(--greyish-brown);
  margin-top: $padding-xs;


}

.image-box {
  vertical-align: top;
  display: inline-block;
  width: 150px;
  height: 135px;
  border-radius: 5px;
  border: solid 3px rgba(155, 155, 155, 0.34);
  background-color: rgba(207, 206, 206, 0.15);
  margin: 5px 20px 5px 0px;
  text-align: center;
}

.btn-publish {
  margin-top: $padding-xs;
  width: 166px;
  height: 47px;
  border-radius: 19px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: $black;
  font-size: 15px;
  color: $white;
  
  
}
