.add-book-page-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: $padding-xs;
  flex-direction: column;
  margin-bottom: -10px;

  @include media-breakpoint(xs) {
    flex-direction: row;
    align-items: center;
  }
}

.add-book-page {
  padding-bottom: $padding-lg;

  .subtitle {
    margin: $padding-xs $padding-xs 4px;
    font-size: 20px;
  }
}

.image-box {
  cursor: move;
  vertical-align: top;
  display: inline-block;
  width: 135px;
  height: 135px;
  border-radius: 5px;
  border: solid 3px rgba(155, 155, 155, 0.34);
  background-color: rgba(207, 206, 206, 0.15);
  margin: 5px 20px 5px 0px;
  text-align: center;
  overflow: hidden;
  position: relative;
  box-shadow: -1px 6px 10px 0px rgba(0, 0, 0, 0.07);

  @include media-breakpoint(sm) {
    cursor: move;
    vertical-align: top;
    display: inline-block;
    width: 135px;
    height: 135px;
    border-radius: 5px;
    border: solid 3px rgba(155, 155, 155, 0.34);
    background-color: rgba(207, 206, 206, 0.15);
    margin: 5px 20px 5px 0px;
    text-align: center;
    overflow: hidden;
    position: relative;
    box-shadow: -1px 6px 10px 0px rgba(0, 0, 0, 0.07);

    &:hover {
      transform: scale(1.05);
    }
  }

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    transform: translate(-50%, -50%);
  }

  button {
    z-index: 3;
    position: absolute;
    right: -2px;
    top: 1px;
    font-size: 20px;
    opacity: 0.4;
    color: $black;
    background-color: transparent;
    border: 0;

    &:hover {
      opacity: 1;
    }
  }
}

.image-box-transition-enter {
  opacity: 0.01;
  width: 0px;
}

.image-box-transition-enter.image-box-transition-enter-active {
  opacity: 1;
  width: 135px;
  transition: 500ms ease-in;
}

.image-box-transition-leave {
  opacity: 1;
  width: 135px;
}

.image-box-transition-leave.image-box-transition-leave-active {
  opacity: 0.01;
  width: 0px;
  transition: 500ms ease-in;
}
