.book-details-container {
  margin-top: $padding-xs;
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-right: $padding-xs;
  margin-left: $padding-xs;

  .book-info-container {
    flex-basis: 100%;
    margin-top: $padding-sm;
    float: left;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint(sm) {
      flex-basis: 60%;
      float: left;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .book-pickup-container {
    flex-basis: 100%;
    float: left;
    text-align: left;
    margin-top: $padding-sm;

    @include media-breakpoint(sm) {
      flex-basis: 20%;
      float: left;
      margin-left: auto;
      margin-right: auto;
      margin-top: 138px;
    }
  }

  .book-title {
    flex-grow: 1;
    margin-top: $padding-xs;
    color: $gray-lighter;
    font-size: 25px;
    margin-bottom: $padding-xs;
    min-height: 65px;
  }

  .author {
    width: 137px;
    height: 17px;
    font-size: 14px;
    text-align: left;
    color: $gray-lighter;
  }

  .header-description {
    margin-top: $padding-xs;
    margin-bottom: $padding-xs;
    width: 116px;
    height: 21px;
    font-size: 18px;
    font-weight: bold;
    color: $gray-lighter;
  }

  .service-description {
    color: $gray-lighter;
    font-size: 17px;
    width: fit-content;
    height: fit-content;
    text-align: justify;
  }

  .header-pickup {
    width: fit-content;
    height: 21px;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    color: $gray-lighter;
    margin-right: auto;
    margin-bottom: $padding-xs;
  }

  .book-img {
    width: 360px;
    height: 240px;
    margin-right: $padding-xs;
    margin-bottom: $padding-xs;
  }

  .distance {
    text-align: right;
    font-size: 12px;
  }

  .btn-request {
    margin-top: $padding-xs;
    width: 100px;
    height: 35px;
    border-radius: 19px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: $black;
    font-size: 12px;
    color: $white;
    text-align: center;
    display: flex;
    position: fixed;
    right: 40px;
    bottom: 40px;
    justify-content: center;
    text-decoration: none;
    align-items: center;
  }

  .google-map-wrapper {
    height: 350px;
    width: 250px;
    text-align: right;
    margin-top: $padding-xs;
    margin-bottom: $padding-xs;

    @include media-breakpoint(sm) {
      height: 350px;
      width: 250px;
      text-align: center;
    }
  }
}
