.books-tool-bar {
  padding: 15px 0 25px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  .filters {
    > * {
      margin-right: 10px;
      @include media-breakpoint(sm) {
        margin-right: 20px;
      }
    }
  }

  @include smaller-than(sm) {
    justify-content: center;
  }
}

.btn-add-book {
  width: 142px;
  height: 48px;
  border-radius: 19px;
  box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: $black;
}
