.books-tool-bar {
  padding: 15px 0 25px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  .filters {
    > * {
      margin-right: 10px;
      @include media-breakpoint(sm) {
        margin-right: 20px;
      }
    }
  }

  @include smaller-than(sm) {
    justify-content: center;
  }
}

.btn-add-book {
  width: 156px;
  height: 40px;
  box-shadow: $button-shadow;
  background-color: $black-lighter;
  border-radius: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  @include smaller-than(sm) {
    position: fixed;
    bottom: 2.5%;
    right: 4%;
    z-index: 998;
    height: 50px;
  }
}
