.history-page {
  padding-bottom: $padding-lg;

  .filters {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0;
    border-bottom: 1px solid $white-dimmer;
    padding-bottom: 4px;

    .radio-styled > .radio-label {
      font-weight: bold;
      padding-bottom: 5px;
      &:hover {
        cursor: pointer;
        color: $light-green;
      }
    }
  }
}

.no-transactions {
  padding: $padding-lg 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    max-width: 450px;
    font-size: 16px;
  }
}

.no-transaction-buttons {
  display: flex;
  flex-direction: column;
  padding-top: $padding-xxs;

  @include media-breakpoint(xs) {
    flex-direction: row;
  }

  a {
    &:first-child {
      margin-bottom: $padding-xs;

      @include media-breakpoint(xs) {
        margin-right: $padding-sm;
      }
    }
  }
}

.btn-no-transac {
  position: relative;
  align-self: auto;
  margin: 0;
  height: 40px;
  box-shadow: none;
  min-width: 130px;
  font-size: 15px;
  font-weight: normal;
  bottom: auto;
  right: auto;
}
