.home-img-banner {
  position: absolute;
  left: 0;
  z-index: -1;
  height: 500px;
  width: 100%;

  @include media-breakpoint(sm) {
    width: auto;
  }

  @include media-breakpoint(md) {
    height: 600px;
  }
}

.home-banner-txt-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;

  @include media-breakpoint(sm) {
    float: right;
  }

  @include media-breakpoint(md) {
    height: 600px;
  }

  .inner {
    background: rgba(255, 255, 255, 0.5);
    padding: 40px;
    border-radius: 4px;
    margin: 0 15px;
  }

  h1 {
    font-size: 18px;
    margin-top: 0;

    @include media-breakpoint(sm) {
      font-size: 20px;
    }

    @include media-breakpoint(md) {
      font-size: 24px;
    }

    .right {
      color: $black-lighter;
      background-color: $white;
      border-right: $logo-horizontal-border-primary;
      border-left: $logo-horizontal-border-primary;
      border-top: $logo-vertical-border-primary;
      border-bottom: $logo-vertical-border-primary;
      margin-left: 4px;
      border-radius: $border-radius;
    }
  }

  h2 {
    font-size: 14px;

    @include media-breakpoint(sm) {
      font-size: 18px;
    }

    @include media-breakpoint(md) {
      font-size: 20px;
    }
  }

  .btn-signup {
    max-width: 130px;
  }
}
