.homepage-container {
  background-image: url('../images/white_background.jpg');
  background-color: $black;
}
.home-img-banner {
  position: absolute;
  right: 50px;
  z-index: -1;
  height: 500px;
  width: 500px;

  @include media-breakpoint(sm) {
    width: fit-content;
    height: fit-content;
  }

  @include media-breakpoint(md) {
    height: fit-content;
  }
}

.home-banner-txt-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;

  @include media-breakpoint(sm) {
    float: left;
    height: 600px;
  }

  @include media-breakpoint(md) {
    height: 600px;
  }

  .inner {
    // background-color: #00b3b3;
    padding-right: 40px;
    border-radius: 4px;
    margin: 0 20px;
    width: 400px;
    border-color: $orange;
    color: $black;
  }

  h1 {
    font-size: 18px;
    margin-top: 0;
    color: $black;

    @include media-breakpoint(sm) {
      font-size: 20px;
    }

    @include media-breakpoint(md) {
      font-size: 24px;
    }

    .right {
      color: $black-lighter;
      background-color: $white;
      border-right: $logo-horizontal-border-primary;
      border-left: $logo-horizontal-border-primary;
      border-top: $logo-vertical-border-primary;
      border-bottom: $logo-vertical-border-primary;
      margin-left: 4px;
      border-radius: $border-radius;
    }
  }

  h2 {
    font-size: 14px;

    @include media-breakpoint(sm) {
      font-size: 18px;
    }

    @include media-breakpoint(md) {
      font-size: 20px;
    }
  }

  .btn-signup {
    max-width: 130px;
  }
}

.inner-card {
  background-color: #00b3b3;
  padding: 40px;
  border-radius: 4px;
  margin: 0 20px;
  width: 220px;
  color: $white;
  margin-bottom: 40px;
}
