.home-page {
  padding-top: $padding-lg;
}

.home-page-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: $padding-md;

  @include media-breakpoint(sm) {
    flex-direction: row;
    padding-bottom: $padding-lg;
  }
}

.home-img-banner {
  z-index: -1;
  height: 225px;
  width: 300px;
  margin-left: auto;
  background-color: white;
  margin-top: -50px;
  margin-right: 0px;

  @include media-breakpoint(xs) {
    margin-top: -100px;
  }

  @include media-breakpoint(sm) {
    width: 400px;
    height: 300px;
    position: relative;
    right: 0;
    margin-top: 0;
    margin-right: auto;
  }

  @include media-breakpoint(md) {
    width: 500px;
    height: 400px;
  }
}

.home-banner-txt-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include media-breakpoint(sm) {
    float: left;
  }

  .inner {
    border-radius: 4px;

    border-color: $orange;
    color: $gray-lighter;

    @include media-breakpoint(sm) {
      width: 400px;
    }
  }

  .inner-content {
    text-align: left;
  }

  h1 {
    font-size: 20px;
    margin-top: 0;
    color: $gray-lighter;
    text-align: left;

    @include media-breakpoint(sm) {
      font-size: 36px;
    }

    @include media-breakpoint(md) {
      font-size: 36px;
    }
  }

  .banner-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include media-breakpoint(sm) {
      flex-direction: column;
    }
  }

  .btn-find {
    background: $orange;
  }
  .btn-homepage {
    width: 100%;
    height: 40px;
    box-shadow: none;
    position: relative;
    font-weight: bold;
    font-size: 17px;
    bottom: auto;
    right: auto;
    align-self: center;

    @include media-breakpoint(xs) {
      max-width: 200px;
    }

    @include media-breakpoint(sm) {
      align-self: flex-start;
    }

    &.btn-black {
      margin: $padding-sm 0 $padding-xs;
    }
  }
}

.homepage-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include media-breakpoint(xs) {
    justify-content: space-between;
  }
}

.inner-card {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 1px 1px 4px 0 #9b9b9b;
  background-color: #ffffff;
  color: $gray-lighter;
  width: 100%;
  height: 180px;
  margin: 0px 0px 10px;

  @include media-breakpoint(xs) {
    width: 215px;
    height: 200px;
    margin: 0 0 20px;
  }

  @include media-breakpoint(sm) {
    margin-bottom: 40px;
  }

  h2 {
    font-size: 16px;
    color: $gray-lighter;

    @include media-breakpoint(sm) {
      font-size: 18px;
    }

    @include media-breakpoint(md) {
      font-size: 20px;
    }
  }

  span {
    font-size: 14px;
  }

  .line-break {
    margin-bottom: $padding-sm;
  }
}

.how-it-works-container {
  display: flex;
  align-items: center;

  @include smaller-than(sm) {
    flex-direction: column;
  }

  @include media-breakpoint(lg) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.how-it-works {
  text-align: justify;
  color: $gray-lighter;
  padding: 0 0 20px;

  @include media-breakpoint(xs) {
    padding: 12px 20px 20px 20px;
  }
}

.header-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: $padding-xxs;
  margin-top: $padding-xs;

  @include media-breakpoint(sm) {
    font-size: 18px;
  }

  @include media-breakpoint(md) {
    font-size: 20px;
  }
}

.mockup-platform {
  justify-content: center;

  width: 50%;
  @include smaller-than(sm) {
    width: 100%;
  }
}

.title-section {
  font-size: 20px;
  color: $gray-lighter;

  @include media-breakpoint(sm) {
    font-size: 34px;
  }
}
