// Generic stylesheets
@import './includes/base';
@import './includes/variables';

// Font stylesheets
@import './includes/fonts/fonts';

// Component specific stylesheets
@import '../components/Account/Avatar';
@import '../components/AddNewBookForm/AddNewBookForm';
@import '../components/AddNewBookForm/DragAndDrop';
@import '../components/Authentication/Authentication';
@import '../components/Authentication/PasswordForget';
@import '../components/Authentication/SignIn';
@import '../components/Authentication/SignOut';
@import '../components/Authentication/SignUp';
@import '../components/Autocomplete/Autocomplete';
@import '../components/BookItem/BookItem';
@import '../components/Books/SearchResults';
@import '../components/Books/UserLabel';
@import '../components/BrandLogo/BrandLogo';
@import '../components/Button/Button';
@import '../components/Button/Radio';
@import '../components/Dropdown/Dropdown';
@import '../components/Footer/Footer';
@import '../components/GoogleMap/GoogleMap';
@import '../components/History/HistoryComponents';
@import '../components/Loader/Loader';
@import '../components/Navbar/Navbar';
@import '../components/PasswordChange/PasswordChange';
@import '../components/Search/Search';
@import '../components/Session/Session';
@import '../components/Pagination/Pagination';

// Page specific stylesheets
@import '../pages/AccountPage';
@import '../pages/AddNewBookPage';
@import '../pages/BookDetail';
@import '../pages/BooksPage';
@import '../pages/EditProfilePage';
@import '../pages/HistoryPage';
@import '../pages/HomePage';
