.book-details-container {
  margin-top: $padding-xs;
  width: 100%;
  display: flex; 
  margin-left: auto;
  margin-right:auto;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-right: $padding-xs;
  padding-left: $padding-xs;
}

.book-info-container {
  flex-basis: 100%;
  margin-top: $padding-sm;
  float: left;
  margin-left: auto;
  margin-right: auto;
 

  @include media-breakpoint(sm) {
    flex-basis: 50%;
    float: left;
    margin-left: auto;
    margin-right: auto;
  }
}
.book-pickup-container {
  margin-top: $padding-sm;
  flex-basis: 100%;
  float: left;
  text-align: center;

  @include media-breakpoint(sm) {
    flex-basis: 50%;
    float: left;
    margin-left: auto;
    margin-right: auto;
  }
}
.book-title {
  margin-top: $padding-xs;
  color: $gray-lighter;
  font-size: 20px;
  margin-bottom: $padding-xs;
}

.book-description {
  color: $gray-lighter;
  font-size: 17px;
}

.icon-distance {
  width: 15px;
  height: 15px;
  margin-left: 0;
}

.distance {
  text-align: left;
}

.rating{
  margin-top: $padding-xs;
}
.header-description {
  margin-top: $padding-xs;
  margin-bottom: $padding-xs;
  width: 116px;
  height: 21px;
  font-size: 18px;
  color: $gray-lighter;
}

.service-description {
  color: $gray-lighter;
  font-size: 17px;
  width: 365px;
  height: 335px;
  text-align: justify;
}

.header-pickup {
  width: 143px;
  height: 21px;
  font-size: 18px;
  text-align: left;
  color: $gray-lighter;
  margin-right: auto;
  margin-bottom: $padding-xs;
}

.book-img {
  width: 365px;
  height: 240px;
}

.user-info{
  margin-top: $padding-xs;
  text-align: center;
}

.user-name {
  margin-left: auto;
  margin-right: auto;
}

.user-profile {
  width: 36px;
  height: 36px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px $black;
  background-color: $black;
  margin-left: auto;
  margin-right: auto;
}

.btn-request {
  margin-top: $padding-xs;
  width: 166px;
  height: 47px;
  border-radius: 19px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: $black;
  font-size: 15px;
  color: $white;
  text-align: center;
  
}

.google-map-wrapper {
  height: 450px;
  width: 365px;
  align-items: center;

  @include media-breakpoint(sm) {
    height: 450px;
    width: 200px;
    align-items: center;
  }
}
