.book-details-container {
  margin-top: $padding-xs;
  width: 100%;
  display: flex;
}

.book-info-container {
  max-width: 50%;
  margin-top: $padding-sm;
  float: left;
  margin: auto;

  @include media-breakpoint(sm) {
    max-width: 100%;
    float: left;
    margin: auto;
  }
}

.book-pickup-container {
  margin-top: $padding-sm;
  max-width: 50%;
  float: right;
  margin: auto;

  @include media-breakpoint(sm) {
    max-width: 100%;
    float: left;
    margin: auto;
  }
}

.book-title {
  margin-top: $padding-xs;
  color: $gray-lighter;
  font-size: 20px;
  margin-bottom: $padding-xs;
}

.book-description {
  color: $gray-lighter;
  font-size: 17px;
}

.icon-distance {
  width: 15px;
  height: 15px;
  align-items: right;
}

.distance {
  text-align: right;
}
.rating{
  margin-top: $padding-xs;
}
.header-description {
  margin-top: $padding-xs;
  margin-bottom: $padding-xs;
  width: 116px;
  height: 21px;
  font-size: 18px;
  color: $gray-lighter;
}

.service-description {
  color: $gray-lighter;
  font-size: 17px;
  width: 365px;
  height: 335px;
  text-align: justify;
}

.header-pickup {
  width: 143px;
  height: 21px;
  font-size: 18px;
  text-align: left;
  color: $gray-lighter;
  margin-right: auto;
  margin-top: $padding-xs;
  margin-bottom: $padding-xs;
}

.book-img {
  width: 365px;
  height: 240px;
}

.user-name {
  margin-left: auto;
  margin-right: auto;
}

.user-profile {
  width: 36px;
  height: 36px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px $black;
  background-color: $black;
  margin-left: auto;
  margin-right: auto;
}

.btn-request {
  width: 166px;
  height: 47px;
  border-radius: 19px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: $black;
  font-size: 15px;
  color: $white;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

.google-map-wrapper {
  height: 450px;
  width: 365px;

  @include media-breakpoint(sm) {
    height: 450px;
    width: 245px;
  }
}
