.Oval {
  width: 70px;
  height: 70px;
  border: solid 1px #979797;
  background-color: #ffffff;
}

.imageBook{
  width: 182px;
  height: 277px;
}

.desc-content{
	text-align:right;
	text-color:red;
}