.search-wrapper {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  order: 4;
  padding-top: 6px;
  flex-basis: 100%;

  @include media-breakpoint(sm) {
    flex-basis: auto;
    justify-content: stretch;
    order: 2;
    padding-top: 0;
  }

  svg {
    height: 13px;
    width: 13px !important;
    margin-right: -15px;
    margin-left: 10px;
    z-index: 1;
    color: gray;

    @include media-breakpoint(sm) {
      margin-left: 60px;
    }
  }
}

.search-container {
  display: flex;
  flex: 1 0 auto;
  background-color: $white;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: $border-radius;
  font-size: 10px;
  margin-left: -7px;

  @include media-breakpoint(sm) {
    max-width: 350px;
  }

  @include media-breakpoint(md) {
    max-width: 400px;
  }

  input {
    background: none;
    border: none;
    padding-left: 30px;
    width: 100%;
  }
}
