$auth-form-width: 300px;
$auth-form-width-small: 250px;

.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-page-header {
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 20px;
    font-weight: 600;
    margin-right: 8px;
  }
}

.auth-page-body {
  .spacer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: $padding-xxs 0;
  }
}

.sign-in-sign-up-link {
  a {
    color: $orange;
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: $auth-form-width-small;
  max-width: $auth-form-width-small;
  margin: 25px auto;

  @include media-breakpoint(sm) {
    min-width: $auth-form-width;
    max-width: $auth-form-width;
    margin: 25px auto;
  }

  .form-header {
    text-transform: titlecase;
    margin: 0;
    width: 100%;
  }

  input {
    width: 100%;
    background: none;
    border: 1px solid $gray;
    height: 40px;
    border-radius: 10px;
    padding: 0 $padding-sm;
    margin-bottom: $padding-sm;
    font-size: 13px;

    &:last-of-type {
      margin-bottom: 0;
    }

    &:focus {
      border-color: darken($gray, 10%);
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
    }
  }
}

.validation-error {
  color: $red-error;
  width: 100%;
  text-align: right;
  font-size: 12px;
  margin-bottom: -29px;
  padding-right: $padding-sm;
  padding-top: 13px;
}

.form-submission-error {
  color: $red-error;
  font-size: 12px;
}
