$auth-form-width: 250px;

.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-page-header {
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 20px;
    font-weight: 600;
    margin-right: 8px;
  }
}

.auth-page-body {
  .spacer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: $padding-xxs 0;
  }
}

.sign-in-sign-up-link {
  a {
    color: $orange;
  }
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: $auth-form-width;
  max-width: $auth-form-width;

  .form-header {
    text-transform: uppercase;
    margin: 0;
    width: 100%;
  }

  input {
    width: 100%;
    background: none;
    border: 1px solid $gray;
    height: 35px;
    border-radius: 2px;
    padding: 0 $padding-sm;
    margin-bottom: $padding-xs;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.validation-error {
  color: red;
  width: 100%;
  text-align: right;
  font-size: 12px;
  margin-bottom: -20px;
}
