.pw-forget {
  .auth-page-header {
    flex-direction: column;
  }

  .auth-form {
    input {
      margin-bottom: $padding-xs;
    }
  }
}

.pw-forget-header {
  color: $orange;
  margin: $padding-xxs 0;
}
