.sign-in-facebook-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.pw-forget-link {
  width: 100%;
  text-align: right;
  margin-bottom: $padding-xs;
  text-decoration: none;
  color:"#f5a623";

  &:hover,
  &:active {
    text-decoration: underline;
  }
}
